@import 'vars';
html,
body{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: $default;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main{
    flex: 1;
}
.footer{
    flex: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding:0 15px;
}
.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
}


.title{
    @extend %title-font;
    color: $black;
    font-size: 36px;
}

.input-data{
    width: 368px;
    padding: 13px 10px 11px 18px;
    background-color: transparent;
    border: 1px solid rgba($color: $black, $alpha: 0.7);
    border-radius: 21px;
    &::placeholder{
        @extend %text-font;
        font-size: 16px;
        color: #A1A1A1;
    }
    box-sizing: border-box;
}

.submit-btn{
    @extend %accent-font;
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $black;
    font-size: 16px;
    color: #FFFFF0;
    border: none;
    border-radius: 21px;
    box-sizing: border-box ;
    cursor: pointer;
}


.slider-dots{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: -15px;
    z-index: 1;
    .slider-dot{
        cursor: pointer;
        height: 8px;
        width: 8px;
        border-radius:50%;
        background-color: $black;
        border: none;
        padding: 0;
        font-size: 0;
        line-height: 0;
    }
    .slider-dot--active{
        background-color: $active;
    }

}

.collection{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    &__item{
        position: relative;
    }
    &__item:hover &__info{
        opacity: 1;
    }
    &__images{
        min-height: 350px;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        inset: 0;
        background-color: rgba($color: #FFFFFF, $alpha: .7);
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    &__item-title{
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 19px;
        margin-bottom: 19px;
        position: relative;
        &::after{
            content: '';
            height: 1px;
            width: 200px;
            background-color: $title-line;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        } 
    }

}